<h1>Form</h1>

<div>
  <form class="user-form"  [formGroup]="reactiveForm" (ngSubmit)="onSubmitButtonClick()">
    <div>
    <label for="fname">First Name: </label>
    <input type="text" id="fname"  formControlName="firstName"><br>
    <div *ngIf="!reactiveForm.get('firstName')?.valid && (reactiveForm.get('firstName')?.['touched'])">

      <small *ngIf="reactiveForm.get('firstName')?.errors?.['required']">
        this field is required
      </small>

      <small *ngIf="reactiveForm.get('firstName')?.errors?.['noSpace']">
        No space allowed
      </small>

    </div>

    </div>
    <div>
    <label for="lname">Last Name: </label>
    <input type="text" id="lname"  formControlName="lastName" >
    </div>

    <div>
    <label for="email">Email: </label>
    <input type="email" id="email" autocomplete="off" formControlName="email">
    </div>

    <div formArrayName="education">
             <ng-container *ngFor="let ed of education['controls'];let i=index">
              <label for="education">Education:</label>
               <input type="text" id="education" autocomplete="off" formControlName="{{i}}"><br>
             <br></ng-container>
     </div>
     <button class="add" (click)="add()">Add</button>
    
    <div>
    <label for="country">Country: </label>
    <select id="country" formControlName="country">
      <option value="australia" >Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
    </div>

    <div>
    <input type="radio" id="male" name="gender" value="male" formControlName="gender" >
    <label for="male">Male: </label>
    <input type="radio" id="female" name="gender" value="female" formControlName="gender" >
    <label for="female">Female: </label><br><br>
    </div>
    <div>
    <button class="submit" type="submit">Submit</button>
    </div>  
    <div class="resetButton">
      <button class="reset" (click)="reset()">Reset</button>
    </div>
  </form>

</div>
<app-reactive></app-reactive>